{% extends 'base.html.twig' %}




{% block body %}
    <p>Exemple d'utilisation de symfony.
        
    <ul>

        <li><a href="{{path('page1', {'name': 'toto'})}}">page1 via twig</a></li>
    
    <li><a href="{{path('page2', {'name': 'titi'})}}">page2 sans twig</a></li>
    
    <li><a href="{{path('film_array')}}">test avec bdd et tableau associatif et sans twig</a></li>
    <li><a href="{{path('film_object')}}">test avec bdd et objet auto-construit</a></li>
    <li><a href="{{path('film_object2')}}">test avec bdd et objet a la mano</a></li>
    </ul>
{% endblock %}


